.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.code {
  background-color: lightblue;
  padding: 5px 10px;
  border-radius: 4px;
}

.container {
  padding: 0 40px;
}

.list {
  display: flex;
  flex-direction: column;
}

.listItem {
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid grey;
}

.timer {
  margin: 40px 0;
}

.imageList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tabs {
  display: flex;
  gap: 40px;
  justify-content: center;
  cursor: pointer;
}

.tabName {
  opacity: .5;
}

.tabName-active {
  opacity: 1;
}

.tabName:hover {
  opacity: .7;
}
